@page "/hoteldemo2"

<div class="shadow">
	<h2 class="bg-light border p-2">Hotel Room Demo 2</h2>

	<p class="mx-2">Room: @DemoRoom.RoomName</p>
	<p class="mx-2">Price: @DemoRoom.Price</p>

	<div class="mx-2 my-2 px-2 py-2">
		<input type="number" @bind-value="DemoRoom.Price" @bind-value:event="oninput" />
		<br />
		<input class="py-2" type="checkbox" @bind-value="DemoRoom.IsActive" checked="@(DemoRoom.IsActive ? "checked" : null)" /> <span> Is Active</span>
		<br />
		<span>This room is @(DemoRoom.IsActive ? "Active" : "Inactive")</span>
		<br />
	</div>


</div>

