@page "/"

<div class="container py-2 shadow">
	<a href="/Routing" class="btn-primary">Routing without Parameters</a>

	<input type="button" class="btn-primary" value="Demo 1" />

	<form class="mb-3">
		<button type="submit" class="btn-primary" formaction="/Routing">Click me</button>
	</form>

	<div class="mb-3">
		<HelloWorld UserName="Sri Varu"></HelloWorld>
	</div>

	<div>
		<RoutingDemo></RoutingDemo>
	</div>

</div>

