@page "/"

<div class="container py-2 shadow">

	<div class="mb-2">
		<HelloWorld UserName="Sri Varu"></HelloWorld>
	</div>

	<div class="py-1">
		<a href="/Routing" class="btn btn-primary shadow">Routing without Parameters</a>

		<a href="/Routing/Sri Varu" class="btn btn-primary shadow">Routing with Parameters</a>
	</div>

	<div class="py-1">
		<OneWayDataBindingDemo></OneWayDataBindingDemo>
	</div>

	<div class="py-1">
		<TwoWayDataBindingDemo></TwoWayDataBindingDemo>
	</div>

	<div class="py-1">
		<DropDownListDemo></DropDownListDemo>
	</div>

</div>

