@page "/Routing"
@page "/Routing/{username}"

<div class="container shadow page-title py-2">
	<a href="/" class="btn btn-primary shadow">
		<span class="oi oi-home" aria-hidden="true"></span>
	</a>

	<div class="text-center">
		<h3 class="mt-2">@Username Grace (Routing) !!</h3>
	</div>

</div>
