@page "/hoteldemo1"

<div class="shadow">
	<h2 class="bg-light border p-2">Hotel Room Demo 1</h2>

	<p class="mx-2">Room: @DemoRoom.RoomName</p>
	<p class="mx-2">Price: @DemoRoom.Price</p>

	<div class="mx-2 py-2">
		<input type="number" value="@DemoRoom.Price" />
	</div>
</div>

